body {
  background-color: #101233; /* ダーク背景色 */
  color: white; /* テキストカラー白*/
  
  background-image: url("pics/background/xv.png"); /* 画像パス指定 */
  background-repeat: repeat; /* 画像をタイリング */
}

/* 未訪問リンクのスタイル */
a:link {
  color: #0077FF; /* 明るい青色のリンクテキストカラー */
}

/* 訪問済みリンクのスタイル */
a:visited {
  color: #008833; /* 訪問済みリンクの色を変更 */
}

/* コードブロック内の文字色を黒に変更 */
pre.highlight code {
  color: black;
}
